<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio_06</title>
    <link rel="stylesheet" href="../src/stylee.css">

</head>
<body>
    <div id="conteiner">
    <h1>Exercicio 06</h1>
    <label for="">Informe o seu nome:</label>
    <input type="text" id="nomeinserido" value="">
    <br>
    <br>
   <input id="botao" type="button" value="enviar" onclick="saudacao()">
   <h3 id="mostrar"></h3>
   </div>





    <script src="../app/codigo.js"></script>
</body>
</html>