<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio_10</title>
    <link rel="stylesheet" href="../src/stylee.css">
</head>
<body>
    <div id="conteiner">
    <h1>Exercicio 10</h1>
    <label for="">Contagem:</label>
    <input type="text" id="contagem" value="" disabled>
    <br>
    <br>
    <input type="button" value="Iniciar contagem" onclick="contagemcomwhile()">
    </div>

    <script src="../app/codigo.js"></script>
</body>
</html>