<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio_07</title>
    <link rel="stylesheet" href="../src/stylee.css">
</head>
<body>
    <div id="conteiner">
    <h1>Exercicio 07</h1>
    <label for="">Digite o primeiro número:</label>
    <input type="text" id="n1">
    <br>
    <br>
    <label for="">Digite o segundo numero:</label>
    <input type="text" id="n2">
    <br>
    <br>
   <input id="botao" type="button" value="Ver qual é o maior e o menor" onclick="menoremaior()" style="width: 200px;">
    <h3>Resutado:</h3>
    <p id="result"></p>
    </div>



    <script src="../app/codigo.js"></script>
</body>
</html>