<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio_08</title>
    <link rel="stylesheet" href="../src/stylee.css">
</head>
<body>
    <div id="conteiner">
        <h1>Exercicio 08</h1>
        <label for="">Digite o primeiro número:</label>
        <input type="text" id="n1">
        <br>
        <br>
        <label for="">Digite o segundo numero:</label>
        <input type="text" id="n2">
        <br>
        <br>
        <label for="">Digite o terceiro numero:</label>
        <input type="text" id="n3">
        <br>
        <br>    
        <input id="botao" type="button" value="Calcular média" onclick="média()" style="width: 110px;">
        <h3>Resutado:</h3>
        <p id="result"></p>
    </div>


    <script src="../app/codigo.js"></script>
</body>
</html>