<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio_05</title>
    <link rel="stylesheet" href="../src/stylee.css">
</head>
<body>
    <div id="conteiner">
    <h1>Exercicio 05</h1>
    <label for="">Contagem com While:</label>
    <input type="text" id="contagem" value="" disabled>
    <br>
    <br>
    <section>
   <input id="botao" type="button" value="Iniciar contagem" onclick="contagemcomwhile()" style="width: 150px;">
   <input id="botao" type="button" value="Zerar" onclick="zerar()" style="width: 50px;">
    </div>
    </section>



    <script src="../app/codigo.js"></script>
</body>
</html>